*{
    margin: 0;
    padding: 0;

}

body{
    width: 1440px;  
}

.border{
    border: 1px solid;
}
.parent-classes {
    width: 1115px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 121px;
}

.title-parent-classes{
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 121px;
}

.legend-classes{
    display: flex;
    flex-direction: row;
    margin-bottom: 161px;

}

.box1-classes{
    width: 220px;
    height: 100px;
    margin-right: 125px;
}

.box2-classes{
    width: 271px;
    height: 100px;
    margin-right: 113px;
}

.box3-classes{
    width: 245px;
    height: 100px;
}

.box-font{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.title-box-classes{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: #1E4681;
}

.content-classes{
    margin-left: 0px;
    position: relative;
    width: 1115px;
    height: 607px;
}
.content-classes ul {
    line-height: 150%;
    margin-left: 17px;
    width: 650px;
    height: 430px;
    font-weight: normal;
    font-size: 24px;
}
.title-content-classes{

    margin-top: 63px;
    margin-bottom: 66px;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
}

.fehto-picture-classes{
    position: absolute;
    top:0px;
    right: 98px;
    width: 274px;
    height: 160px;
}

.dino-picture-classes{
    width: 386px;
    height: 189px;
    position: absolute;
    right: 0px;
    bottom: 81px;
}

.ellipse4-picture-classes{

    position: absolute;
    top:151px;
    right: 88px;

}

.ellipse5-picture-classes{

    position: absolute;
    top:151px;
    right: 246px;

}