@media (min-width: 1440px) {
    /* Временные Классы */
    .t, .m {
        display: none;
    }
    .d {
        display: flex;
        justify-content: center;
    }
    /* Общие классы */
    .container {
        padding: 0 122px;
    }
    .h2header {
        font-size: 55px;
        margin-bottom: 55px;
    }
    .s-header-top {
        width: 112px;
        height: 66px;
        margin: 22px 0px 85px 0px;
    }
    .s-header-menu {
        margin: 5px 0px 25px 0px
    }
    .s-header-menu li:first-child {
        margin-right: 12px;
        width: 174px;
    }
    .s-header-menu li:nth-child(2) {
        width: 145px;
    }
    .s-header-menu-button {
        width: 145px;
    }
    .s-header-menu-button p {
        font-size: 20px;
    }
    .s-header-menu-button-icon {
        width: 22px;
        height: 21px;
        margin-right: 7px;
    }
    .s-header-menu-button-icon img {
        width: 100%;
        height: 100%;
    }
    .s-produser-block h1 {
        font-size: 46px;
        width: 628px;
        padding-bottom: 16px;
        font-weight: bold;
        font-size: 80px;
        line-height: 101.38%;
    }
    .s-produser-block-producer {
        width: 304px;
        height: 356px;
        left: 140px;
        top: -12px;
    }
    .ellipse1 {
        width: 274px;
        height: 41px;
        bottom: -22px;
        right: -2px;
    }
    .s-produser-block p {
        font-size: 20px;
        line-height: 150%;
    }
    .s-quotes {
        width: 457px;
        height: 171px;
        padding: 21px 0px 10px 25px;
        margin: 75px 0px 175px 289px;
    }
    .s-quotes p {
        font-size: 25px;
        font-weight: 400;
    }
    .s-quotes p:last-child {
        text-align: right;
        font-size: 20px;
        margin: 5px 21px 0px 0px;
    }
    .s-about-curs p {
        font-size: 24px;
        width: 670px;
    }
    .s-about-curs p:nth-child(2) {
        margin-top: 34px;
        margin-bottom: 16px;
        width: 660px;
    }
    .s-about-curs-operator {
        width: 314px;
        height: 315px;
        right: 153px;
        bottom: 37px;
    }
    .s-about-curs-operator-ellipse {
        width: 366px;
        height: 59px;
        bottom: -30px;
    }
    .s-timetable {
        margin: 0px 0px 180px 0px;
    }
    .s-timetable-sound-producer {
        position: absolute;
        width: 232px;
        height: 203px;
        left: 121px;
        top: -2px
    }
    .s-timetable-sound-producer img {
        width: 100%;
        height: 100%;
    }
    .s-timetable__item:first-child {
        margin: 68px 41px 0px 363px
    }
    .s-timetable__item {
        margin: 68px 35px 0px 64px;
    }
    .s-timetable__item h3 {
        font-size: 25px;
        margin-bottom: 9px;
        font-weight: 700;
    }
    .s-timetable__item p {
        font-size: 18px;
    }
    .s-timetable-ellipse {
        width: 189px;
        height: 32px;
        bottom: 19px;
        left: 34px
    }
    .b-what-we-known {
        margin-bottom: 731px;
    }
    .b-form-of-classes {
        padding-top: 71px;
        margin-bottom: 189px;
    }
    .b-form-of-classes__item {
        width: 25.5%
    }
    .b-form-of-classes__item-title {
        font-size: 25px;
    }
    .b-form-of-classes__item p {
        font: 18px/130% 'Roboto';
        width: 261px;
        padding-bottom: 32px;
    }
    .form-of-classes__item--correction {
        margin-left: 37px;
    }
    .b-form-of-classes-picture {
        width: 274px;
        height: 160px;
        bottom: -285px;
        right: 303px;
    }
    .b-what-we-known {
        margin-bottom: 216px;
    }
    .b-what-we-known-list li {
        font: 24px/150% 'Roboto';
    }
    .b-what-we-known ul {
        padding-left: 15px;
        margin-top: 0;
    }
    .b-what-we-known-picture {
        width: 387px;
        height: 189px;
        right: 203px;
        bottom: 54px;
        position: absolute;
    }
    .v-cursprogram-blackline {
        height: 12.52px;
        top: 26px;
    }
    .v-cursprogram-cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        justify-content: flex-start;
        margin-top: 60px;
        margin-bottom: 192px;
    }
    .v-cursprogram-card {
        width: 399px;
        height: 328px;
        margin-top: 10px;
        margin: 20.5px 16.5px;
        border-radius: 29px;
    }
    .crads-correction {
        padding: 0 69px;
    }
    .cursprogram-pict {
        width: 400px;
        height: 158px;
    }
    .cursprogram-card__header {
        font-size: 31px;
        font-weight: bold;
        margin-top: 8px;
        margin-bottom: 1;
    }
    .cursprogram-card__info {
        font-size: 25px;
    }
    .v-cursprogram-teachers {
        margin-bottom: 257px;
        margin-left: 52px;
        margin-top: 85px;
    }
    .v-cursprogram-monter {
        bottom: 23px;
        right: 47px;
        width: 253px;
        height: 199px;
    }
    .v-cursprogram-card__text {
        height: 139px;
        padding-left: 18px;
        margin-top: 4px;
    }
    .v-cursprogram-teacher-block__foto {
        width: 145px;
    }
    .v-cursprogram-teacher-block_title {
        width: 370px;
    }
    .v-cursprogram-teacher-block_title h3 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .v-cursprogram-teacher-block_title p {
        font-size: 18px;
    }
    .v-cursprogram-teacher-block__info {
        margin-left: 46px;
        margin-top: 14px;
        margin-right: 32px;
    }
    .v-cursprogram-teacher-block__info span {
        right: 90px;
        top: 52px;
    }
    /* techers block */
    .teacher__foto {
        width: 50%;
    }
    .teacher__foto-pic {
        margin-top: 8px;
    }
    .teachers-titel {
        margin: 0;
    }
    .teachers {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0;
        margin-bottom: 13%;
        margin-left: 2.6%;
        margin-right: -1.3%;
    }
    .teacher__header {
        font-size: 30px;
        font-family: Roboto Slab;
        line-height: 101.38%;
        padding-right: 0;
        margin-top: 0;
    }
    .teacher__info-btn {
        display: flex;
        font-size: 18px;
        width: 28px;
        height: 28px;
        right: 15.5%;
    }
    .teacher__text {
        margin-top: 4%;
        font-size: 18px;
        width: 98%;
    }
    .teacher__info {
        width: 100%;
        padding-left: 14px;
    }
    .teacher-card {
        width: 50%;
        align-items: center;
    }
    .card--right {
        margin-top: 7.5%;
    }
    .card--left {
        margin-top: 6.4%;
    }
    .teacher__info-message {
        font-size: 16.2px;
        border-radius: 19px;
    }
    .info-message--left {
        width: 394px;
        right: -50px;
        bottom: -357px;
        height: 271px;
        padding: 30px 12px 0 24px;
        line-height: 139%;
    }
    .info-message--right {
        width: 399px;
        right: -62px;
        height: 376px;
        top: -423px;
        padding: 22px 25px 0 27px;
        line-height: 139%;
    }
}