@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1440px;
    padding: 0px;
}

.s-header-left {
    padding: 21px 0px 0px 121px;
    width: 112px;
    height: 66px;
    left: 121px;
    top: 21px;
}

ul {
    display: flex;

}

li {
    list-style-type: none;
}

.s-button1 {
    display: flex;
}

.s-globe {
    padding: 94px 0px 0px 121px;
    width: 22px;
    height: 21px;    
}

.s-text-button1 {
    padding: 94px 0px 0px 8px;
    width: 130px;
    height: 32px;
    font-size: 20px;
    line-height: 115%;
}

.s-button2 {
    display: flex;
}

.s-clock {
    padding: 94px 0px 0px 25px;
    width: 22px;
    height: 22px;
}

.s-text-button2 {
    padding: 94px 0px 0px 10px;
    width: 130px;
    height: 32px;
    font-size: 20px;
    line-height: 115%;
}

.s-button3 {
    display: flex;
}

.s-calendar {
    padding: 94px 0px 0px 0px;
    width: 20px;
    height: 22px;
}

.s-text-button3 {
    padding: 94px 0px 0px 13px;
    width: 130px;
    height: 32px;
    font-size: 20px;
    line-height: 115%;
}

.s-text-and-picture-main-1 {
    display: flex;
}

h1 {
    padding: 13px 0px 0px 122px;
    width: 628px;
    height: 190px;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 101.38%;
}

.s-text-main1-p {
    padding: 5px 0px 0px 122px;
    width: 414px;
    height: 62px;
    font-size: 20px;
    line-height: 150%;
    weight: 400;
}

.s-img1-all {

}

.producer {
    padding: 5px 0px 0px 122px;
    width: 304px;
    height: 356px;
}

.ellipse1 {
    width: 274px;
    height: 41px;
    background-color: #EFEFEF;
    border-radius: 50%;
    margin-left: 150px;
    margin-top: -25px;
}

.ss-aline-text {
    width: 483px;
    height: 200px;
    background-color: #1E4681 ;
    border-radius: 5px;
    transform: rotate(-4deg);
    margin: 50px auto 0px;
}

.s-aline-text__block__text1 {
    width: 430px;
    height: 113px;
    font-size: 25px;
    line-height: 130%;
    color: #FFFFFF;
    padding: 21px 0px 0px 29px;
}

.s-aline-text__block__text2 {
    width: 280px;
    height: 45px;
    font-size: 20px;
    line-height: 130%;
    color: #FFFFFF;
    padding: 8px 0px 0px 270px;
}

h2 {
    width: 365px;
    height: 93px;
    font-size: 55px;
    margin-left: 121px;
    margin-top: 59px;
}

.s-main-2{
    display: flex;
}

.s-paragraf {
    width: 900px;
    height: 374px;
    margin-left: 121px;
}

p {
    font-size: 24px;    
    line-height: 150%;
}

.operator {
    width: 314px;
    height: 315px;
    margin-left: 190px; 
   
}

.ellipse2 {
    width: 366px;
    height: 59px;
    background-color: #EFEFEF;
    border-radius: 50%;
    margin-left: 160px;
    margin-top: -35px;
}

.s-section3 {
    display: flex;
}

.sound_producer {
    width: 232px;
    height: 203px;
    margin: 94px 0px 0px 121px;
}

.ellipse3 {
    width: 189px;
    height: 32px;
    background-color: #EFEFEF;
    border-radius: 50%;
    margin-left: 154px;
    margin-top: -15px;
    margin-bottom: 178px;
}

.s-article1 {
    width: 150px;
    height: 79px;
    margin-top: 164px;
    margin-left: 132px;
}

.s-article2 {
    width: 150px;
    height: 79px;
    margin-top: 164px;
    margin-left: 95px;
}

.s-article3 {
    width: 150px;
    height: 79px;
    margin-top: 164px;
    margin-left: 95px;
}

.h3 {
    font-size: 25px;
    line-height: 130%;
}

.s-article1__text {
    font-size: 18px;
    line-height: 130%;
    padding-top: 10px;
}



/* tablet */

@media (max-width:1279px) {
    .container {
        width: 100%;
    }
}

/* mobile */

@media (max-width:991px) {
    .container {
        width: 100%;
    }
}

.cursprogram-hr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 104px;
}

.cursprogram-hr h2 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    margin-left: 128px;
}

.cursprogram-blackline {
    width: 630px;
    height: 14px;
    background-color: black;
}

.cursprogram-card-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 66px;
    position: relative;
    margin-bottom: 120px;
}

.cursprogram-card {
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    width: 399px;
    height: 328px;
    margin: 19px 19px;
}

.cursprogram-card p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    margin: 0 18px;
}

.cursprogram-card h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin: 0 16px;
    line-height: 90%;
}

.cursprogram-card__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 134px;
    margin-top: 12px;
}

.monter {
    position: absolute;
    bottom: -99px;
    right: 225px;
    width: 253px;
    height: 199px;
}

.cursprogram-teachers {
    display: flex;
    justify-content: center;
}

.cursprogram-teacher-block img {
    width: 189;
    height: 178;
}

.cursprogram-teacher-block {
    display: flex;
    align-items: center;
    width: 550px;
    position: relative;
}

.cursprogram-teacher-block__text {
    display: flex;
    flex-direction: column;
}

.cursprogram-teacher-block__text h3 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 101.38%;
}

.cursprogram-teacher-block__text p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    margin-top: 10px;
    ;
}

.cursprogram-teacher-block__info {
    cursor: pointer;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    background: #FFFFFF;
    box-shadow: 1px 1px 8px #5784C8;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    right: 10px;
}

.cursprogram-teacher-block__info:hover .cursprogram-teacher-block__info-message {
    display: block;
}

.cursprogram-teacher-block__info-message {
    position: absolute;
    width: 399px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display: none;
    padding: 25px;
    z-index: 1;
}