@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

.maket {
  position: absolute;
  width: 100%;
  padding: 0;
  border: 0;
  top: 0;
  left: 0;
}

.t, .d {
  display: none;
}

.maketbody {
  opacity: 0.8;
  z-index: 999;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  padding: 0 35px;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  /* overflow: hidden; */
}

.container-full-size {
  width: 100%;
  overflow: hidden;
}

.h2header {
  font-family: Roboto Slab;
  font-weight: bold;
  font-size: 26px;
  line-height: 101.38%;
  margin-bottom: 26px;
}

/* Sasha */

.s-header-top {
  width: 52px;
  height: 30px;
  margin: 36px 0px;
}

.s-header-menu {
  display: flex;
  align-items: center;
  margin: 5px 0px 13px;
}

.s-header-menu li:first-child {
  margin-right: 13px;
  width: 73px;
}

.s-header-menu li:nth-child(2) {
  width: 75px;
}

.s-header-menu-button {
  display: flex;
  align-items: center;
  width: 80px;
}

.s-header-menu-button p {
  font: 10px/115% Roboto;
}

.s-header-menu-button-icon {
  width: 11px;
  height: 10.25px;
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.s-header-menu-button-icon img {
  width: 100%;
  height: 100%;
}

.s-produser-block {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.s-produser-block-producer {
  width: 141px;
  height: 165px;
  display: flex;
  align-self: flex-end;
  margin-right: -3px; 
  /* здесь выровнял отрицательным margin потому что в контейнере
  padding: 0px 35px стоит  */
}

.s-produser-block-producer img {
  width: 100%;
  height: 100%;
}

.ellipse1 {
  width: 127px;
  height: 19px;
  background-color: #efefef;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  right: 33px;
  z-index: -1;
  align-self: flex-end;
}

.s-produser-block h1 {
  font: bold 37px/101.38% Roboto slab;
  margin-bottom: 17px;
}

.s-produser-block p {
  font-size: 10px;
  line-height: 149%;
}

.s-quotes {
  width: 212px;
  height: 73px;
  background-color: #1e4681;
  border-radius: 3px;
  transform: rotate(-4deg);
  padding: 10px 0px 10px 14px;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 76px 2px;
}

.s-quotes p {
  font: 400 11px/130% Roboto Slab; 
  color: #fff;
}

.s-quotes p:last-child {
  font-family: Roboto;
  text-align: right;
  font-size: 10px;
  margin: 6px 10px 0px 0px;
}

.s-about-curs {
  display: flex;
  flex-direction: column;
  margin-bottom: 59px;
}

.s-about-curs p {
  font: 12px/150% Roboto;
  }

.s-about-curs p:nth-child(2) {
  margin: 18px 0px 14px;
}

.s-about-curs-operator {
  width: 143px;
  height: 146px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 34px;
}

.s-about-curs-operator img {
  width: 100%;
  height: 100%;
}

.s-about-curs-operator-ellipse {
  width: 168px;
  height: 22px;
  background-color: #efefef;
  border-radius: 50%;
  position: absolute;
  bottom: 23px;
  z-index: -1;
}

.s-timetable {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 42px;
}

.s-timetable-sound-producer {
  position: absolute;
  width: 112px;
  height: 96px;
  right: 40px;
  bottom: 51px;
}

.s-timetable-sound-producer img {
  width: 100%;
  height: 100%;
}

.s-timetable__item {
  margin: 0px 41px 27px 0px;
}

.s-timetable__item h3 {
  font: bold 12px/130% Roboto;
  margin-bottom: 3px;
}

.s-timetable__item p {
  font: 400 10px/130% Roboto;
}

.s-timetable-ellipse {
  width: 126px;
  height: 19px;
  background-color: #efefef;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  right: 4px;
  z-index: -1;
}

/* Boris */

.b-form-of-classes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
  padding-top: 9px;
}

.b-form-of-classes-block {
  margin-bottom: 48px;
}

.b-form-of-classes__item p {
  font-family: Roboto;
  font-size: 10px;
  line-height: 130%;
  width: 178px;
  padding-bottom: 32px;
}

.b-form-of-classes__item-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  line-height: 130%;
  color: #1e4681;
  margin-bottom: 3px;
}

.b-form-of-classes-picture {
  width: 128px;
  height: 75px;
  position: absolute;
  bottom: -19px;
  right: 47px;
}

.b-form-of-classes-picture img {
  width: 100%;
  height: 100%;
}

.b-what-we-known {
  display: flex;
  flex-direction: column;
  margin-bottom: 54px;
}

.b-what-we-known-picture {
  width: 178.38px;
  height: 87.88px;
  align-self: center;
}

.b-what-we-known ul {
  padding-left: 8px;
  margin-bottom: 29px;
}

.b-what-we-known-list li {
  font-family: Roboto;
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 1px;
}

/* Vitalik */

.full--line {
  position: relative;
}

.v-cursprogram-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-bottom: 62px;
  margin-top: 17px;
}

.v-cursprogram-blackline {
  position: absolute;
  background-color: black;
  height: 6.52px;
  width: 18%;
  right: 0;
  top: 12px;
}

.v-cursprogram-card {
  background: #ffffff;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  width: 185px;
  height: 154px;
  margin-top: 10px;
  margin-bottom: 13px;
}

.cursprogram-pict {
  width: 185px;
  height: 75px;
}

.cursprogram-card__header {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  margin: 0 0 0 4px;
  line-height: 90%;
}

.cursprogram-card__info {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 130%;
  padding-left: 4px;
}

.v-cursprogram-card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60px;
  padding-left: 6px;
  margin-top: 4px;
}

.v-cursprogram-monter {
  position: absolute;
  bottom: -99px;
  right: 225px;
  width: 253px;
  height: 199px;
  display: none;
}

.teacher__foto-pic {
  width: 100%;
  margin-top: 1px;
}

.teachers--corect {
  padding: 0 27px;
}

.teachers {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 37px;
  margin-bottom: 29.5%;
}

.teachers-titel {
  margin-left: 8px;
}

.teacher-card {
  display: flex;
}

.teacher__foto {
  width: 88px;
}

.teacher__header {
  font-size: 14px;
  font-family: Roboto Slab;
  font-weight: bold;
  line-height: 30px;
  position: relative;
  padding-right: 34px;
  margin-top: 16px;
}

.teacher__text {
  font-size: 10px;
  line-height: 130%;
}

.teacher__info {
  width: 207px;
  margin-left: 8px;
}

.teacher__info-btn {
  width: 28px;
  height: 28px;
  background: #FFFFFF;
  box-shadow: 1px 1px 8px #5784C8;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  right: 0;
}

.teacher__info-btn:hover .teacher__info-message {
  display: block;
}

.info-message--left {
  right: 0;
  bottom: -385px;
}

.info-message--right {
  right: 0;
  top: -374px;
}

.card--left {
  margin-bottom: 12.8%;
}

.card--right {
  margin-top: 10.4%;
  margin-left: -2px;
}

.teacher__info-message {
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  text-align: left;
  padding: 31px 21px 17px 25px;
  width: 399px;
  height: 274px;
  background: #FFFFFF;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  display: none;
  position: absolute;
}

.teacher__info-message-mobile {
  font-size: 10px;
  line-height: 130%;
  margin-top: 13.5%;
}