@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', monospace;
}

.container {
    max-width: 1440px;
}

/* tablet */

@media (max-width:1279px) {
    .container {
        width: 100%;
    }
}

/* mobile */

@media (max-width:991px) {
    .container {
        width: 100%;
    }
}

/* test */