@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    padding: 0 36px;
    box-sizing: border-box;
    position: relative;
}

.s-header-left {
    margin-top: 34px;
    margin-bottom: 48px;
}

.s-button {
    display: flex;
    align-items: center;
}

.s-button p {
    padding-right: 10px;
    font-family: Roboto;
    font-size: 10px;
    line-height: 115%;
}

.s-button_icon {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

.s-button_icon img {
    width: 100%;
    height: 100%;
}

.s-section1 {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.header-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.header-block img {
    width: 100%;
    height: 100%;
}

.header-block h1 {
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 37px;
    line-height: 101.38%;
    margin-bottom: 20px;
}

.header-block p {
    font-size: 10px;
    line-height: 150%;
}

.header-block .producer {
    width: 142px;
    height: 175px;
    align-self: flex-end;
    position: relative;
}

.ellipse1 {
    width: 126px;
    height: 19px;
    background-color: #EFEFEF;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    right: 4px;
    z-index: -1;
}

.s-aline-text {
    width: 197px;
    height: 65px;
    background-color: #1E4681;
    border-radius: 3px;
    transform: rotate(-4deg);
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 67px;
}

.s-aline-text p {
    font-family: Roboto Slab;
    font-size: 11px;
    line-height: 130%;
    color: #fff;
    font-weight: 300;
}

.s-aline-text p:last-child {
    font-family: Roboto;
    text-align: right;
    font-size: 10px;
}

.s-about-curs h2 {
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 26px;
    line-height: 101.38%;
    margin-bottom: 25px;
}

.s-about-curs p {
    font-family: Roboto;
    font-size: 12px;
    line-height: 150%;
}

.s-about-curs p:last-child {
    margin-top: 25px;
    margin-bottom: 25px;
}

.operator img {
    width: 100%;
    height: 100%;
}

.operator {
    width: 170px;
    height: 160px;
    position: relative;
}

.operator-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

.timetable {
    display: flex;
    flex-wrap: wrap;
}

.sound_producer {
    width: 108px;
    height: 102px;
}

.timetable__item {
    margin-right: 33px;
    margin-bottom: 30px;
}

.timetable h3 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
}

.timetable p {
    font-family: Roboto;
    font-size: 10px;
    line-height: 130%;
}

.sound_producer img {
    width: 100%;
    height: 100%;
}

.sound_producer {
    position: absolute;
    right: 13px;
    bottom: 0px;
}

.timetable {
    padding-bottom: 43px;
}