@media (min-width: 834px) {
    /* Временные Классы */
    .m {
        display: none;
    }
    .t {
        display: block;
    }
    /* Общие классы */
    .h2header {
        font-size: 32px;
    }
    .container {
        padding: 0 70px;
    }
    .s-header-top {
        width: 65px;
        height: 35px;
        margin-top: 24px;
        margin-bottom: 52px;
    }
    .s-produser-block h1 {
        font-size: 46px;
        width: 340px;
        padding-bottom: 3px;
    }
    .s-produser-block-producer {
        width: 183px;
        height: 194px;
        position: absolute;
        right: 136px;
    }
    .s-produser-block p {
        font-size: 12px;
        line-height: 149%;
    }
    .s-quotes {
        width: 269px;
        height: 90px;
        padding: 10px 0px 10px 10px;
        margin-bottom: 163px;
    }
    .s-about-curs {
        margin-bottom: 59px;
        margin-top: 31px;
    }
    .s-about-curs p {
        font-size: 14px;
        width: 352px;
    }
    .s-about-curs p:nth-child(2) {
        margin-top: 22px;
        margin-bottom: 16px;
        width: 385px;
    }
    .s-about-curs-operator {
        width: 183px;
        height: 183px;
        position: absolute;
        right: 89px;
        bottom: 49px;
    }
    .s-timetable-sound-producer {
        justify-self: flex-start;
    }
    .b-form-of-classes__item-title {
        font-size: 16px;
    }
    .s-timetable {
        padding-bottom: 117px;
    }
    .b-form-of-classes {
        margin-bottom: 32px;
        padding-top: 46px;
        letter-spacing: 0px;
    }
    .b-form-of-classes-block {
        margin-bottom: 97px;
    }
    .b-what-we-known {
        margin-bottom: 121px;
    }
    .v-cursprogram-blackline {
        width: 44%;
    }
    .v-cursprogram-cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        justify-content: flex-start;
        margin-top: 40px;
        margin-bottom: 176px;
    }
    .v-cursprogram-card {
        width: 230px;
        height: 190px;
        margin-top: 10px;
        margin: 12px 11px;
        border-radius: 17px;
    }
    .crads-correction {
        padding: 0 39px;
    }
    .v-cursprogram-card img {
        width: 230px;
        height: 90px;
    }
    .v-cursprogram-monter {
        display: block;
        position: absolute;
        bottom: -52px;
        right: 28px;
        width: 147px;
        height: 115px;
    }
    .v-cursprogram-card h3 {
        font-size: 17px;
        font-weight: bold;
    }
    .v-cursprogram-card p {
        font-size: 14px;
    }
    .v-cursprogram-card__text {
        height: 76px;
        margin-top: 5px;
    }
    .v-cursprogram-teachers {
        flex-direction: row;
        margin-left: 31px;
        margin-top: 39px;
        margin-bottom: 115px;
    }
    .v-cursprogram-teacher-block__info span {
        width: 16px;
        height: 16px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 47px;
        top: 34px;
        border-radius: 50%;
        background: #ffffff;
        font-size: 14px;
        line-height: 130%;
        box-shadow: 0.579167px 0.579167px 4.63333px #5784C8;
    }
    .v-cursprogram-teacher-block__info:hover .v-cursprogram-teacher-block__info-message {
        display: block;
    }
    .v-cursprogram-teacher-block__info-message {
        width: 207px;
        background: #ffffff;
        border-radius: 30px;
        z-index: 1;
        font-size: 10px;
        display: none;
    }
    .v-cursprogram-teacher-block__foto {
        width: 85px;
    }
    .v-cursprogram-teacher-block__info {
        margin-left: 25px;
        margin-top: 3px;
        margin-right: 32px;
    }
    .v-cursprogram-teacher-block_title h3 {
        font-size: 17px;
    }
}