@media (min-width: 834px) {
    /* Временные Классы */
    .m {
        display: none;
    }
    .t {
        display: block;
    }
    /* Общие классы */
    .h2header {
        font-size: 32px;
    }
    .container {
        padding: 0 70px;
    }
    .header-top {
        width: 65px;
        height: 35px;
        margin-top: 24px;
        margin-bottom: 52px;
    }
    .header-menu {
        margin: 0 0 13px 0;
    }
    .header-menu-first {
        margin-right: 17px;
        width: 94px;
    }
    .header-menu-second {
        width: 77px;
        margin-right: 5px
    }
    .header-menu-button {
        width: 90px;
    }
    .header-paragraff {
        font-size: 12px;
        padding-top: 4px;
    }
    .header-menu-button-icon {
        width: 13px;
        height: 13px;
        margin-right: 5px;
    }
    .produser-block {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
    }
    .produser-block-h {
        font-size: 46px;
        width: 340px;
        padding-bottom: 5px;
    }
    .produser-block-p {
        font-size: 12px;
        line-height: 149%;
    }
    .produser-block-producer {
        width: 176px;
        height: 206px;
        position: absolute;
        right: 147px;
        top: -7px;
    }
    .produser-ellipse {
        width: 159px;
        height: 24px;
        background-color: #efefef;
        border-radius: 50%;
        bottom: -12px;
        right: -1px;
        align-self: flex-end;
        z-index: -1;
    }
    .quotes {
        width: 265px;
        height: 96px;
        padding: 10px 0 10px 14px;
        margin: 104px 0 100px 168px;
    }
    .quotes__p-first {
        font-size: 14px;
        font-weight: 400;
        padding-right: 15px;
    }
    .quotes__p-second {
        font-size: 12px;
        margin: 6px 13px 0 0;
    }
    .about-curs {
        margin-top: 31px;
        margin-bottom: 61px;
    }
    .about-curs__p-first {
        font-size: 14px;
        width: 55%;
    }
    .about-curs__p-second {
        font-size: 14px;
        margin-top: 22px;
        width: 55%;
    }
    .about-curs-operator {
        width: 181px;
        height: 182px;
        position: absolute;
        right: 89px;
        bottom: 16px;
    }
    .about-ellipse {
        width: 211px;
        height: 34px;
        background-color: #efefef;
        bottom: -18px;
    }
    .timetable-sound-producer {
        position: absolute;
        left: 69px;
        width: 134px;
        height: 118px;
        bottom: 35px;
    }
    .timetable {
        margin-bottom: 69px;
    }
    .timetable__item {
        margin: 7px 35px 20px 17px;
    }
    .timetable__item-first {
        margin: 7px 41px 0 210px
    }
    .timetable-h {
        font-size: 15px;
    }
    .timetable-p {
        font-size: 11px;
    }
    .timetable-ellipse {
        width: 109px;
        height: 19px;
    }
    /* <!-- Boris --> */
    .form-of-classes__item-title {
        font-size: 16px;
        margin-bottom: 6px;
    }
    .form-of-classes__item {
        margin-right: 41px;
    }
    .form-of-classes__item--correction {
        margin-left: 21px;
    }
    .form-of-classes__item p {
        font: 11px/130% 'Roboto';
        width: 160px;
        padding-bottom: 32px;
    }
    .form-of-classes {
        margin-bottom: 32px;
        padding-top: 46px;
        letter-spacing: 0;
    }
    .form-of-classes-picture {
        width: 158.7px;
        height: 92.67px;
        bottom: -149px;
        right: 175px;
    }
    .form-of-classes-block {
        margin-bottom: 93px;
    }
    .what-we-known {
        margin-bottom: 126px;
        font-size: 14px;
        line-height: 150%;
    }
    .what-we-known ul {
        padding-left: 9px;
        margin-bottom: 4px;
        margin-top: 7px;
        width: 55%;
    }
    .what-we-known-list li {
        font: 14px/150% 'Roboto';
    }
    .what-we-known-picture {
        width: 224.7px;
        height: 108.25px;
        right: 117px;
        bottom: 31px;
        position: absolute;
    }
    .cursprogram-blackline {
        width: 44%;
    }
    .cursprogram-cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        justify-content: flex-start;
        margin-top: 40px;
        padding-bottom: 112px;
    }
    .cursprogram-card {
        width: 234px;
        height: 190px;
        margin: 1.6% 1.16%;
        border-radius: 17px;
    }
    .crads-correction {
        padding: 0 39px;
    }
    .cursprogram-pict {
        width: 100%;
        height: 47.5%;
    }
    .cursprogram-monter {
        display: block;
        position: absolute;
        bottom: 61px;
        right: 28px;
        width: 147px;
        height: 115px;
    }
    .cursprogram-card__header {
        font-size: 17px;
        font-weight: bold;
    }
    .cursprogram-card__info {
        font-size: 14px;
    }
    .cursprogram-card__text {
        height: 40%;
        margin-top: 5px;
    }
    .b-form-of-classes__item-title {
        font-size: 15px;
    }
    /* techers block */
    .teacher__info-message-mobile {
        display: none;
    }
    .teacher__foto {
        width: 32%;
    }
    .teachers-titel {
        margin-left: 0;
    }
    .teacher__foto-pic {
        margin-top: 12px;
    }
    .teachers {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5.4%;
        margin-bottom: 12.5%;
        margin-left: 3.5%;
        margin-right: -1.3%;
    }
    .teacher__header {
        font-size: 17px;
        font-family: Roboto Slab;
        line-height: 101.38%;
        padding-right: 34px;
        margin-top: 40px;
    }
    .teacher__info-btn {
        display: flex;
        font-size: 10.425px;
        width: 16px;
        height: 16px;
        right: 21px;
        top: 41px;
    }
    .teacher__text {
        margin-top: 4%;
    }
    .card--right {
        margin-top: 6.4%;
    }
    .teacher__info-message {
        font-size: 10px;
        font-weight: 400;
        border-radius: 19px;
    }
    .info-message--left {
        width: 231px;
        right: -30px;
        bottom: -208px;
        height: 159px;
        padding: 17px 12px 0 13px;
        box-sizing: border-box;
        font-size: 9.8px;
        line-height: 131%;
    }
    .info-message--right {
        width: 231px;
        right: -37px;
        height: 219px;
        top: -248px;
        padding: 13px 3px 0 13px;
        box-sizing: border-box;
        font-size: 9.8px;
        line-height: 131%;
    }
}