@media (min-width: 834px) {
    /* Временные Классы */
    .m {
        display: none;
    }
    .t {
        display: block;
    }
    /* Общие классы */
    .h2header {
        font-size: 32px;
    }
    .container {
        padding: 0 70px;
    }
    .s-header-top {
        width: 65px;
        height: 35px;
        margin-top: 24px;
        margin-bottom: 52px;
    }

    .s-header-menu {
    margin: 0px 0px 13px 0px;
    }
    
    .s-header-menu li:first-child {
    margin-right: 13px;
    width: 94px;
    }
    
    .s-header-menu li:nth-child(2) {
    width: 77px;
    margin-right: 17px
    }
    
    .s-header-menu-button {
    width: 80px;
    }
    
    .s-header-menu-button p {
    font-size: 12px;
    padding-top: 4px;
    }
    
    .s-header-menu-button-icon {
    width: 13px;
    height: 13px;
    margin-right: 5px;
    }

    .s-produser-block {
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
      }
          
    
    .s-produser-block h1 {
        font-size: 46px;
        width: 340px;
        padding-bottom: 5px;
    }

    .s-produser-block p {
        font-size: 12px;
        line-height: 149%;
    }

    .s-produser-block-producer {
        width: 176px;
        height: 206px;
        position: relative;
        left: 105px;
        bottom: 5px;
        
    }

    .ellipse1 {
        width: 159px;
        height: 24px;
        background-color: #efefef;
        border-radius: 50%;
        bottom: -12px;
        right: -1px;
        align-self: flex-end;
        z-index: -1;
      }
    
    .s-quotes {
        width: 265px;
        height: 96px;
        padding: 10px 0px 10px 14px;
        margin: 46px 0px 100px 168px;
    }
        /* Тут вопрос про строку. в мобильной и в таблете на разных строчках.
        как исправить? */
    .s-quotes p {
        font-size: 14px;
        font-weight: 400;
      }
      
      .s-quotes p:last-child {
        font-size: 12px;
        margin: 6px 13px 0 0;
      }

    .s-about-curs {
        margin-top: 31px;
    }
    .s-about-curs p {
        font-size: 14px;
        width: 352px;
    }
    .s-about-curs p:nth-child(2) {
        margin-top: 22px;
        width: 385px;
    }
    .s-about-curs-operator {
        width: 181px;
        height: 182px;
        position: absolute;
        right: 89px;
        bottom: 52px;
    }

    .s-about-curs-operator-ellipse {
        width: 211px;
        height: 34px;
        background-color: #efefef;
        bottom: -18px;
      }

    .s-timetable-sound-producer {
        position: relative;
        left: 0px;
        width: 134px;
        height: 118px;
        bottom: 113px;
    }

    .s-timetable__item {
        margin: 7px 35px 20px 17px;
      }

    .s-timetable__item:first-child {
        margin: 7px 41px 0px 210px
    }
      
    .s-timetable__item h3 {
        font-size: 15px;
        }
    
    .s-timetable__item p {
        font-size: 11px;
        }

    .s-timetable-ellipse {
        width: 109px;
        height: 19px;
        }
    
    /* <!-- Boris --> */

    .b-form-of-classes {
        margin-bottom: 32px;
        padding-top: 46px;
        letter-spacing: 0px;
    }
    .b-form-of-classes-block {
        margin-bottom: 97px;
    }
    .b-what-we-known {
        margin-bottom: 121px;
    }
    .v-cursprogram-blackline {
        width: 44%;
    }
    .v-cursprogram-cards {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        justify-content: flex-start;
        margin-top: 40px;
        margin-bottom: 176px;
    }
    .v-cursprogram-card {
        width: 230px;
        height: 190px;
        margin-top: 10px;
        margin: 12px 11px;
        border-radius: 17px;
    }
    .crads-correction {
        padding: 0 39px;
    }
    .v-cursprogram-card img {
        width: 230px;
        height: 90px;
    }
    .v-cursprogram-monter {
        display: block;
        position: absolute;
        bottom: -52px;
        right: 28px;
        width: 147px;
        height: 115px;
    }
    .v-cursprogram-card h3 {
        font-size: 17px;
        font-weight: bold;
    }
    .v-cursprogram-card p {
        font-size: 14px;
    }
    .v-cursprogram-card__text {
        height: 76px;
        margin-top: 5px;
    }
    .v-cursprogram-teachers {
        flex-direction: row;
        margin-left: 31px;
        margin-top: 39px;
        margin-bottom: 115px;
    }
    .v-cursprogram-teacher-block__info span {
        width: 16px;
        height: 16px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 47px;
        top: 34px;
        border-radius: 50%;
        background: #ffffff;
        font-size: 14px;
        line-height: 130%;
        box-shadow: 0.579167px 0.579167px 4.63333px #5784C8;
    }
    .v-cursprogram-teacher-block__info:hover .v-cursprogram-teacher-block__info-message {
        display: block;
    }
    .v-cursprogram-teacher-block__info-message {
        width: 207px;
        background: #ffffff;
        border-radius: 30px;
        z-index: 1;
        font-size: 10px;
        display: none;
    }
    .v-cursprogram-teacher-block__foto {
        width: 85px;
    }
    .v-cursprogram-teacher-block__info {
        margin-left: 25px;
        margin-top: 3px;
        margin-right: 32px;
    }
    .v-cursprogram-teacher-block_title h3 {
        font-size: 17px;
    }
}